streamlit
numpy
pandas
plotly
ezdxf
pytesseract
pdf2image
openai
reportlab
python-dotenv
requests
supabase>=2.0.0
python-jose[cryptography]
streamlit-oauth
streamlit-js
streamlit-url-fragment
google-cloud-storage
flask
pywin32
hypothesis
pytest
